html, body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  box-sizing: border-box;
}

.game-board {
  width: 496px;

  display: flex;
  flex-wrap: wrap;
}

.tile {
  width: 120px;
  height: 120px;
  background: orange;
  border: 2px solid white;
  border-radius: 5px;
}

.back {
  display: flex;
  align-items: center;
  justify-content: center;
}

.number {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.2em;
  color: #fafafa;
}